body{
    background-color: beige;
}

.navigation_bar{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    list-style-type: none;
}

li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

ul li:hover{
    background-color: #111;
}

li a:hover{
    color: greenyellow;
    letter-spacing: 3px;
    font-size: x-large;
    transition: color 1s, letter-spacing 1s, font-size 1s;
}

