body{
    background-color: white;
    margin: 0;
}

.container{
    margin: 0;
    background-image: url(background_img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}

.textheading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: default;
}

h1{
    font-size: 100px;
    margin-bottom: 0px;
}
h2{
    margin: 5px;
    color: white;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    list-style-type: none;
}

li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

li a:hover{
    background-color: rgba(220, 220, 220, 0.699);
    letter-spacing: 3px;
    font-size: large;
    transition: letter-spacing 0.5s, background-color 1s;
}

#logo{
    height: 50px; 
    margin-left: 20px; 
    margin-top: 15px;
    filter: invert(1);

}

#logo:hover{
    transform: rotate(360deg);
    height: 70px;
    transition: transform .8s ease-in-out, height .8s;
}

#arrow{
    filter: invert(1);
    height: 70px;
}